name: configuration_files

on:
  workflow_call:
    outputs:
      matrix:
        value: ${{ jobs.generate.outputs.matrix }}

jobs:
  generate:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.config-matrix.outputs.matrix }}
    steps:
      -
        name: checkout
        uses: actions/checkout@v3
      - 
        id: config-matrix
        run: |
          echo "matrix=$(ls ./configs | jq -R -s -c 'split("\n")[:-1]')" >> $GITHUB_OUTPUT