name: update_all

on:
  # schedule:
  #   - cron: '0 10 * * *' # Daily at 10AM
  workflow_dispatch:

jobs:

  get_configuration_files:
    uses: ./.github/workflows/configuration_files.yml

  update:
    needs: get_configuration_files
    strategy:
      fail-fast: false
      matrix: 
        config_file: ${{ fromJson(needs.get_configuration_files.outputs.matrix) }}
    uses: ./.github/workflows/update.yml
    with:
      image_name: hbontempo/postgres-hll
      config_file: ${{ matrix.config_file }}
    secrets: inherit
